    <div id="footer" class="container text-center">
        <h4>Follow us on</h4>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-snapchat-square"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
    </div>
    
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    </body>
</html>