<% include ./partials/header %>
<div class="container">
    <h1 class="text-center">Our Blog</h1>
    <hr>
    <h3 class="text-center">A Story of Our Travels</h3>
</div>

<div id="about-body"class="container">
    
    <img src="/imgs/Sendoff.jpg" class="img-thumbnail w-50 rouded mx-auto d-block">
    

    <p id="first-par">Hi! Hello! I’m Becca- wife to Ramon. We are relatively newlyweds (8 months into marriage!!) as of May 4, 2018 and loving every second of it! If you don’t know me- I graduated college from the University of Arkansas-Fayetteville in 2015 and then moved home to Dallas, TX to begin Physical Therapy school at TWU-Dallas. In August, 2015 I went down to College Station, TX to visit my best friend (Felicity)-little did I know I would meet my future husband that weekend! Long story short, Felicity’s boyfriend at the time (now husband) had a best friend named Ramon (now my husband!) whom we hung out with all weekend; we dated for a few years and then got married!</p>

    <p>We got married on May 4, 2018 and began our marriage living in our first apartment together in Fort Worth, TX where I also began my Physical Therapy career as a Pediatric Physical Therapist. Life has moved quickly and we are now off on an adventure around the states! One of our goals was to travel as many places as possible-well, lucky for us we are going to do just that! Ramon has been given the opportunity to continue his career working remotely and I am partaking in the wonders of being a travel PT; we will be moving state to state roughly every 3 months!</p>

    <p>So, if you want to keep up with our adventures follow our blog! Nothing fancy-just here to share all the shenanigans we get into!</p>
</div>
<% include ./partials/footer %>