<% include ./partials/header %>
<div class="container">
    <h1 class="text-center">Our Blog</h1>
    <hr>
    <p class="text-center">A Story of our travels</p>
</div>>

<div class="container">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti non architecto, numquam sequi totam nisi nemo, a tempore vel ipsam culpa possimus quos quibusdam deleniti id dolor iusto laboriosam ullam? Officia repellendus inventore facilis hic. Mollitia deleniti officia nisi saepe facilis, magnam quod provident! Eveniet quas quidem quos ad iusto, expedita aspernatur atque. Aspernatur consectetur accusamus ducimus. Corrupti quidem atque quibusdam ducimus harum labore quis, deserunt quae esse corporis libero ipsa inventore quos distinctio blanditiis. Facilis dolorem distinctio deleniti architecto, blanditiis pariatur accusantium tenetur libero nostrum vitae obcaecati eos at alias. Nulla, deserunt sunt ab quidem fugiat harum sit deleniti laborum, suscipit, illum qui alias unde quos! Ad ducimus id consectetur amet sequi placeat accusantium dignissimos veniam necessitatibus voluptatem iste minima, fuga quam pariatur natus debitis? Deserunt provident doloremque, nisi quae labore id vitae obcaecati placeat, a dolorum impedit ut aliquam aut dolorem sunt modi officiis quo, cumque expedita aperiam. Natus excepturi, odit fugiat ipsam magnam eum? Suscipit nisi nesciunt vitae maiores itaque, facere ipsum mollitia nam commodi beatae natus, saepe repellat vero dolores error autem blanditiis laboriosam eveniet sit ad, possimus sint laborum? Ipsam voluptatem officiis ad obcaecati pariatur harum ipsa facere, maxime, enim numquam, distinctio iure! Asperiores, labore.</p>
</div>
<% include ./partials/footer %>