body {
    background-color: rgb(229,235,255);
}
#footer {
    margin-top: 20px;
}
#footer a {
    color: gray;
    font-size: 3rem;
    display: inline-block;
    margin-right: 20px;
}

#footer a:hover {
    color: black;
}

p + img {
    max-height: 500px;
}

#header-nav {
    background-color:transparent;
}

#main-index-page .card {
    margin-bottom: 50px;
}