body {
    background-color: rgb(229,235,255);
    font-family: 'Mukta', sans-serif;
}
#footer {
    margin-top: 20px;
}
#footer a {
    color: gray;
    font-size: 3rem;
    display: inline-block;
    margin-right: 20px;
}

#footer a:hover {
    color: black;
}

p + img {
    max-height: 500px;
}

#header-nav {
    background-color:transparent;
}

#main-index-page .card {
    margin-bottom: 50px;
}

#first-par {
    margin-top: 20px;

}

#about-body {
    padding-left:1.5rem;
    font-size: 1.5rem
}